<html>
<head>
<title>Pizza Palace</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>	
<center>	
<div class="welcome"> You want a <%= pizza_type %>. 	
<br>
<img alt="logo" src="/img/logo.gif" width="200" height="150" />
<br>
What type of crust with that?
<br>
</div>
<form method="post" action="crust_type">
<input type="text" name="crust_type">
<input type="hidden" name="first_name" value=<%= first_name %>>
<input type="hidden" name="pizzatype" value=<%= pizzatype %>>
<input type="hidden" name="crust_type" value=<%= crust_type %>>
<br>
<br>
<input type="submit">
</form>
<img alt="pizza" src="/img/pizza.jpg" width="400" height="400" />
</center>
</body>
</html>