<html>
<head>
<title>Pizza Palace</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>	
<center>	
<div class="welcome"> You want <%= pizza_type %> with <%= crust_type %> crust and <%= toppings %> for toppings. 
<br>
<img alt="logo" src="/img/logo.gif" width="200" height="150" />
<br>
Thank you <%= first_name %> for your order. Please come again.
<br>
</div>	
<form method="post" action="toppings">
<input type="text" name="toppings">
<input type="hidden" name="first_name" value=<%= first_name %>>
<input type="hidden" name="pizzatype" value=<%= pizzatype %>>
<input type="hidden" name="crust_type" value=<%= crust_type %>>
<input type="hidden" name="toppings" value=<%= toppngs %>>
<br>
<br>
<input type="submit">
</form>
<img alt="pizza" src="/img/pizza.jpg" width="400" height="400" />
</center>
</body>
</html>