<html>
<head>
<title>Pizza Palace</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>	
<center>	
<div class="welcome"> You want a <%= pizza_type %> pizza with <%= crust_type %> crust and <%= toppings %> for extra toppings. 
<br>
<img alt="logo" src="/img/logo.gif" width="200" height="150" />
<br>
Thank you <%= first_name %> for your order. Please come again.
<br>
</form>
<img alt="pizza" src="/img/pizza.jpg" width="400" height="400" />
</center>
</body>
</html>